*{
    font-family: Verdana;
}

header{
display: flex;
align-items: center;
justify-content: center;
}

nav{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
}
